#!/bin/bash
# Usage: ./train.sh <reward_mode>

reward_mode=$1
seed=$2
dropkey=$3
action_mask_file="${4:-none}"
dependent_subtask_file="${5:-none}"
if [ -z "$reward_mode" ]; then
    echo "Usage: $0 <reward_mode>"
    exit 1
fi

uv run bt_as_reward/training/minigrid_train.py \
    --seed $seed \
    --num_timesteps {{ num_timesteps | default(1000000) }} \
    --reward_mode "$reward_mode" \
    --env_name {{ env_name | default("MiniGrid-DoorKey-16x16-v0") }} \
    --max_mission_words {{ max_mission_words | default(15) }} \
    --drop_key $dropkey \
    --object_function_file {{ object_function_file }} \
    --object_function_names {{ object_function_names }} \
    --subtask_function_file {{ subtask_function_file }} \
    --subtask_names {{ subtask_names }} \
    --subtask_function_names {{ subtask_function_names }} \
    --distance_threshold 1.0 \
    --action_mask_file "$action_mask_file" \
    --dependent_subtask_file "$dependent_subtask_file" \
    